$violet-300: #7c5dfa;
$violet-200: #9277ff;
$violet-100: #7e88c3;
$black-500: #141625;
$black-400: #1e2139;
$black-300: #373b53;
$black-200: #0c0e16;
$black-100: #252945;
$black-50: #979797;
$grey-200: #888eb0;
$grey-150: #858bb2;
$grey-100: #dfe3fa;
$grey-75: #f9fafe;
$grey-50: #494e6e;
$red-200: #ec5757;
$red-100: #ff9797;
$light-bg: #f8f8fb;
$green-100: #33d69f;
$orange: #ff8f00;
$dark-grey: #777f98;
