// style delete modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
}

.cancel-btn {
  margin-right: 10px;
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 1.5rem;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 1.5rem;
  cursor: pointer;
}
