<div class="invoice-screen">
  <div class="invoice-details">
    <div class="back-button-container">
      <img
        class="back-button"
        src="../../assets/images/down-chevron.png"
        alt="back button"
      />
      <p>Go Back</p>
    </div>

    <div class="cta-container">
      <div class="status-wrapper">
        <p class="status-label">Status</p>
        <div class="status-container">
          <span class="dot"></span>
          <p class="status">Pending</p>
        </div>
      </div>

      <div class="buttons-container">
        <button class="edit-invoice">Edit</button>
        <button class="delete-invoice">Delete</button>
        <button class="mark-as-paid">Mark as Paid</button>
      </div>
    </div>

    <div class="details-content">
      <div>
        <div class="invoice-id-container">
          <p class="invoice-id-label">
            <span class="hash">#</span>
            <span class="invoice-id">XM9141</span>
          </p>
          <p class="section-label">Graphic Design</p>
        </div>

        <div class="address-container">
          <p class="address-1">19 Union Terrace</p>
          <p class="address-2">London</p>
          <p class="address-3">E1 3EZ</p>
          <p class="country">United Kingdom</p>
        </div>
      </div>

      <div>
        <div class="dates-container">
          <p>Invoice Date</p>
          <p>21 Aug 2021</p>
          <p>Payment Due</p>
          <p>20 Sep 2021</p>
        </div>
        <div class="billing-address">
          <p>Bill To</p>
          <p>Alex Grim</p>
          <p>84 Church Way</p>
          <p>Bradford</p>
          <p>BD1 9PB</p>
          <p>United Kingdom</p>
        </div>
        <div class="client-email">
          <p>Sent to</p>
          <p>alexgrim/mail.com</p>
        </div>
      </div>
      <table class="invoice-table">
        <tr>
          <th>Item Name</th>
          <th>QTY.</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Banner Design</td>
          <td>1</td>
          <td>£156.00</td>
          <td>£156.00</td>
        </tr>
        <tr>
          <td>Email Design</td>
          <td>2</td>
          <td>£200.00</td>
          <td>£400.00</td>
        </tr>
      </table>
      <div class="total-container">
        <p class="amount-due-label">Amount Due</p>
        <p class="amount-due">£556.00</p>
      </div>
    </div>
  </div>
</div>
