@use "mixins" as *;
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.invoice-screen {
  // background-color: #f8f8fb;
  padding-inline: 32px;
}

.invoice-details {
  max-width: 730px;
  margin: 4rem auto 100px auto;
}

.back-button-container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
  cursor: pointer;
}

.back-button {
  transform: rotate(90deg);
  width: 12px;
}

.back-button-container p {
  font-weight: bold;
  font-size: 15px;
}

.cta-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.status-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.status-label {
  color: #858bb2;
  font-size: 13px;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 143, 0, 0.06);
  padding: 12px 20px;
  border-radius: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #ff8f00;
  border-radius: 50%;
}

.status {
  color: #ff8f00;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 13px;
}

.buttons-container {
  display: flex;
  gap: 8px;
}

button {
  padding: 16px 24px;
  border-radius: 24px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border: none;
}

.edit-invoice {
  background-color: #f9fafe;
  color: #7e88c3;
}

.delete-invoice {
  background-color: #ec5757;
  color: white;
}

.mark-as-paid {
  background-color: #7c5dfa;
  color: white;
}

.details-content {
  background-color: white;
  border-radius: 8px;
  padding: 48px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.invoice-id-container {
  margin-bottom: 21px;
}

.invoice-id-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.hash {
  color: #7e88c3;
}

.section-label {
  color: #7e88c3;
  font-size: 13px;
}

.address-container {
  color: #7e88c3;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 49px;
}

.details-content > div {
  display: flex;
  justify-content: space-between;
}

.dates-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dates-container p:nth-child(odd) {
  color: #7e88c3;
  font-size: 13px;
}

.dates-container p:nth-child(even) {
  font-weight: bold;
  font-size: 15px;
}

.billing-address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.billing-address p:first-child {
  color: #7e88c3;
  font-size: 13px;
  margin-bottom: 12px;
}

.billing-address p:nth-child(2) {
  font-weight: bold;
  font-size: 15px;
}

.billing-address p:not(:first-child):not(:nth-child(2)) {
  color: #7e88c3;
  font-size: 13px;
}

.client-email {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.client-email p:first-child {
  color: #7e88c3;
  font-size: 13px;
  margin-bottom: 12px;
}

.client-email p:last-child {
  font-weight: bold;
  font-size: 15px;
}

.invoice-table {
  width: 100%;
  background-color: #f9fafe;
  border-radius: 8px 8px 0 0;
  margin-top: 44px;
  padding: 32px;
  border-collapse: collapse;
}

.invoice-table th {
  color: #7e88c3;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  padding: 32px;
}

.invoice-table th:nth-child(2),
.invoice-table th:nth-child(3),
.invoice-table th:nth-child(4) {
  text-align: right;
}

.invoice-table tr {
  padding: 1rem;
}

.invoice-table td {
  padding: 32px;
  font-weight: bold;
  font-size: 15px;
}

.invoice-table td:nth-child(2),
.invoice-table td:nth-child(3),
.invoice-table td:nth-child(4) {
  text-align: right;
  color: #7e88c3;
}

.invoice-table td:nth-child(4) {
  color: #0c0e16;
}

.total-container {
  background-color: #373b53;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  border-radius: 0 0 8px 8px;
}

.amount-due-label {
  font-size: 13px;
}

.amount-due {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .invoice-screen {
    padding: 3rem;
  }

  .invoice-details {
    margin: 3rem auto 3rem auto;
  }
}
