<div class="sidebar-wrapper">
  <div class="logo-container">
    <div class="logo-button-bg"></div>
    <img src="../../assets/images/logo.svg" alt="Logo" class="logo" />
  </div>

  <div class="footer-container">
    <div class="darkmode-toggle" (click)="toggleDarkMode()">
      <button class="toggle-button" aria-label="Toggle dark mode">
        <img src="../../assets/images/moon.svg" alt="" class="toggle-icon" />
      </button>
    </div>
    <div class="hr"></div>
    <img
      src="../../assets/images/avatar.png"
      alt="User profile"
      class="profile-photo"
    />
  </div>
</div>
