<section class="new-invoice-form">
  <form [formGroup]="newInvoiceForm">
    <h1 class="form-title">New Invoice</h1>
    <div id="bill-from">
      <h2 id="bill-from-title">Bill From</h2>
      <div class="bill-from-address-container">
        <label for="street-address">Street Address</label>
        <input
          type="text"
          class="street-address-input"
          formControlName="fromStreetAddress"
        />
      </div>

      <div class="bill-from-city-cluster">
        <div class="city-cluster">
          <label for="city">City</label>
          <input type="text" class="city-input" formControlName="fromCity" />
        </div>

        <div class="post-code-cluster">
          <label for="post-code-input">Post Code</label>
          <input
            type="text"
            class="post-code-input"
            formControlName="fromPostCode"
          />
        </div>

        <div class="country-cluster">
          <label for="country">Country</label>
          <input
            type="text"
            class="country-input"
            formControlName="fromCountry"
          />
        </div>
      </div>
    </div>
    <div id="bill-to">
      <h2 id="bill-to-title">Bill To</h2>

      <div class="client-name-cluster">
        <label for="client-name">Client's Name</label>
        <input
          type="text"
          class="client-name-input"
          formControlName="clientName"
        />
      </div>

      <div class="client-email-cluster">
        <label for="client-email">Client's Email</label>
        <input
          type="text"
          class="client-email-input"
          formControlName="clientEmail"
        />
      </div>

      <div class="street-address-cluster">
        <label for="street-address">Street Address</label>
        <input
          type="text"
          class="street-address-input"
          formControlName="toStreetAddress"
        />
      </div>

      <div class="bill-to-address-cluster">
        <div class="city-cluster">
          <label for="city">City</label>
          <input type="text" class="city-input" formControlName="toCity" />
        </div>

        <div class="post-code-cluster">
          <label for="post-code-input">Post Code</label>
          <input
            type="text"
            class="post-code-input"
            formControlName="toPostCode"
          />
        </div>

        <div class="country-cluster">
          <label for="country">Country</label>
          <input
            type="text"
            class="country-input"
            formControlName="toCountry"
          />
        </div>
      </div>

      <div class="date-terms-cluster">
        <div class="invoice-date-cluster">
          <label for="invoice-date">Invoice Date</label>
          <input type="date" id="invoice-date-input" formControlName="date" />
        </div>

        <div class="payment-terms-cluster">
          <label for="payment-terms">Payment Terms</label>
          <select
            id="payment-terms-input"
            formControlName="paymentTerms"
            name="payment-terms"
          >
            <option value="1">Net 1 Day</option>
            <option value="7">Net 7 Days</option>
            <option value="14">Net 14 Days</option>
            <option value="30">Net 30 Days</option>
          </select>
        </div>
      </div>

      <div class="description-cluster">
        <label for="description">Project Description</label>
        <input
          type="text"
          id="description-input"
          formControlName="description"
        />
      </div>

      <h2 id="item-list-title">Item List</h2>

      <table class="item-list">
        <tr class="item-list-header">
          <th>Item Name</th>
          <th>Qty.</th>
          <th>Price</th>
          <th>Total</th>
        </tr>

        <tr class="input-cluster">
          <td>
            <input
              type="text"
              id="item-name-input"
              class="item-name-input"
              formControlName="itemName"
              class="item-name-input"
            />
          </td>
          <td>
            <input
              type="number"
              id="item-qty-input"
              class="item-qty-input"
              formControlName="itemQty"
            />
          </td>
          <td>
            <input
              type="number"
              id="item-price-input"
              class="item-price-input"
              formControlName="itemPrice"
            />
          </td>
          <td>
            <div class="item-total-cluster" id="item-total-input">156.00</div>
          </td>
          <td class="delete-invoice-btn-container">
            <button class="delete-invoice-btn">
              <img src="../../assets/images/delete.png" alt="" />
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div id="item-list"></div>
    <div id="cta-container">
      <button class="discard-btn">Discard</button>
      <div id="save-btn-container">
        <button class="save-as-draft-btn">Save as draft</button>
        <button class="save-and-send-btn">Save & Send</button>
      </div>
    </div>
  </form>
</section>
