@use "mixins" as *;
@use "variables" as *;

.new-invoice-form {
  @include flex-center(column, start);
  width: 35.5rem;
  padding-left: 2rem;
  border-radius: 0 1rem 1rem 0;
  background-color: $grey-75;
}

form {
  padding: 0%;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

input {
  width: 31.5rem;
  height: 3rem;
  border: 0.5px solid $grey-100;
  border-radius: 0.5rem;
  background-color: transparent;
}

.bill-from-city-cluster,
.bill-to-address-cluster,
.date-terms-cluster {
  @include flex-center(row, start);
  flex-grow: 1;
  margin: 0%;
  padding: 0%;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.bill-from-address-container,
.post-code-cluster,
.country-cluster,
.client-name-cluster,
.client-email-cluster,
.street-address-cluster,
.city-cluster,
.post-code-cluster,
.invoice-date-cluster,
.payment-terms-cluster,
.description-cluster {
  @include flex-center(column, start);
  margin-bottom: 1.5rem;
}

.bill-from-city-cluster input,
.bill-to-address-cluster input,
.date-terms-cluster input {
  width: 9.5rem;
  height: 3rem;
  border: 0.5px solid $grey-100;
  border-radius: 0.5rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

#bill-from-title {
  font-size: 12px;
  color: $violet-200;
  margin-bottom: 2rem;
}

label {
  font-size: 12px;
  color: $grey-200;
  text-align: left;
  margin-bottom: 0.7rem;
}

#item-list-title {
  font-size: 1.1rem;
  color: $dark-grey;
}

th {
  text-align: left;
  color: $dark-grey;
  font-size: 12px;
  font-weight: 800;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid $grey-100;
  border-collapse: collapse;
}
#cta-container {
  @include flex-center(row);
  justify-content: space-between;
  margin-top: 1.5rem;
}

.cta-container-scroll {
  position: fixed;
  bottom: 0;
  width: 31.5rem;
  background-color: red;
  border-radius: 2rem;
}

#save-btn-container {
  @include flex-center(row);
  gap: 1rem;
}

.save-as-draft-btn {
  background-color: $black-300;
  color: $black-50;
}

.save-and-send-btn {
  background-color: $violet-300;
  color: $light-bg;
}

.discard-btn,
.save-as-draft-btn,
.save-and-send-btn {
  padding: 16px 24px;
  border-radius: 24px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border: none;
}

.discard-btn {
  background-color: rgb($grey-100, 0.5);
  color: $grey-150;
}

.save-as-draft-btn,
.save-and-send-btn {
  padding: 16px 24px;
  border-radius: 24px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border: none;
}

#bill-to-title {
  font-size: 12px;
  color: $violet-200;
  margin-bottom: 2rem;
}

.invoice-date-cluster input,
.payment-terms-cluster select {
  width: 15rem;
  height: 3rem;
  border: 0.5px solid $grey-100;
  border-radius: 0.5rem;
  background-color: transparent;
}

#payment-terms-input {
  width: 15rem;
  height: 3rem;
  border: 0.5px solid $grey-100;
  border-radius: 0.5rem;
  background-color: transparent;
}

select {
  background-color: white;
  -webkit-appearance: none; /* for Safari/Chrome */
  -moz-appearance: none; /* for Firefox */
  appearance: none;
  border: 1px solid #ccc;
  padding: 8px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item-name-input {
  width: 9.5rem;
  height: 3rem;
  border: 0.5px solid $grey-100;
  border-radius: 0.5rem;
}

.item-price-input {
  width: 6.25rem;
  height: 3rem;
  border: 0.5px solid $grey-100;
  border-radius: 0.5rem;
}

.item-qty-input {
  width: 2.87rem;
  height: 3rem;
  border: 0.5px solid $grey-100;
  border-radius: 0.5rem;
}

.input-cluster {
  margin-bottom: 1.5rem;
  width: 31.5rem;
}

.input-cluster td {
  padding-right: 1rem;
}

.delete-invoice-btn {
  align-items: end;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.delete-invoice-btn-container {
  align-items: end;
}
